<!--The content below is only a placeholder and can be replaced.-->
<div class="container" style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <br>

<div class="col-sm-4 offset-sm-4">
  <form name="formun" [formGroup]="myForm" >
  <div class="form-group">
      <input type="text" class="form-control" #email placeholder="email" required />
  </div>
  <div class="form-group">
      <input type="password" class="form-control" #password required placeholder="password" />
  </div>
  <div class="form-group">
      <button type="submit" class="btn btn-primary" (click)="onSubmit($event, email.value, password.value)">get Login</button>
      <!--<div *ngIf="showMessage" class="mt-2 alert col-sm-3" [ngClass]=" errorClass ? 'alert-danger' : 'alert-success'" role="alert">{{loginMessage}}</div>-->
  </div>
</form>
</div>
</div>


